[Unit]
Description=naturex-frontend app
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/naturex-frontend
ExecStart=/root/.nvm/versions/node/v22.18.0/bin/node server.js
Restart=on-failure
Environment=PORT=3002

[Install]
WantedBy=multi-user.target